.App {
	text-align: center;
}
.particles {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.width {
	width: 70%;
}
.height {
	height: 60%;
}
.fontsize3vh {
	font-size: 3vh;
}
.fontsize4vh {
	font-size: 4vh;
}
.authwidth {
	width: 40%;
}
@media (max-width: 600px) {
	.width,
	.authwidth {
		width: 90%;
	}
}
@media (max-width: 800px) {
	.width,
	.authwidth {
		width: 80%;
	}
}
@media (max-width: 1050px) {
	.width,
	.authwidth {
		width: 80%;
	}
}
